body{
    background-color: #2C3E50;
    color: white;
    margin: 0;
    padding: 0%;
    max-width: 100%;
}
.clearFix::after{
    content: "";
    clear: both;
}
h1{
    text-align: center;
    background-color: #2C3E50;
}
h2{
    margin: 30px;
}
.list{
    margin: 20px;
}
nav{
    background-color: #2272c2;
    text-align: center;
    box-shadow: 2px 4px 7px white;
}
.division{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #2f79c4;
    box-shadow: 5px 10px 15px white;
    margin: auto;
}
img{
    height: 600px;
    width: auto;
    margin: 30px;
}
p{
    width: 800px;
    text-align: justify;
    margin: 30px;
    font-size: 20px;
}
nav ul{
    display: flex;
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}
nav ul li{
    padding:0;
    width: 200px;
    text-align: center;
    height: 100%;
}
nav ul li a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    line-height: 67px;
    width: 200px;
    display: inline-block;
    position: relative;
    border-left: 1px solid white;
}
li:nth-child(5) a{
    border-right: 1px solid white;
}
nav ul li a:hover{
    background-color: #0753a0;
    font-size: 2rem;
    transition: 1s;
    color: greenyellow !important;

}
nav ul li a::after{
    content: "";
    width: 0px;
    height: 5px;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 0%;
    transition: 1s;
}
nav ul li a:hover::after{
    width: 200px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: steelblue;
}
div{
    display: inline-block;
    width: 33%;
}
div p{
    color: white;
    text-align: center;
}
div h3{
    text-align: center;
    font-size: 25px;
}
div i{
    background-color: steelblue;
    padding: 20px;
    color: rgb(255, 47, 151);
    font-size: 30px;
}
